.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.flex-items span {
  font-weight: bold;
  font-size: small;
}

.heading {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 2px 22px rgba(82, 164, 154, 0.08),
    inset 0px -1px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(10px);
  height: 70px;
}

.head-button {
  height: 30px;
  width: 90px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #52a49a -65.93%, #00cdac 100%);
  border-radius: 80px;
  color: aliceblue;
  border: none;
}

.text {
  font-family: "Poppins";

  font-weight: 700;
  font-size: 46px;
  text-align: left;
  line-height: 56px;
}

.colored {
  color: #00cdac;
  margin-right: 7px;
}

.flex-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 56vw;
  gap: 30px;
}

.rectangle {
  display: inline-block;
  width: 280px;
  height: 155px;
  border: rgba(0, 0, 0, 0.506);
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 145px;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 22px;
}

.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.first {
  background: #ff736a;
  border-radius: 80px;
  width: 164px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
  color: aliceblue;
  border: none;
}

.btn .second {
  border-radius: 80px;
  width: 230px;
  height: 53px;
  font-weight: 500;
  color: #ff736a;

  border: 2px solid #ff736a !important;
  background-color: white;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
}

.para {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.01em;
  width: 687px;
  height: 56px;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 20px;
  width: auto;
  height: 358px;
  background: linear-gradient(
    90deg,
    #00d2ff -13.02%,
    rgba(0, 210, 255, 0) 36.77%
  );
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 15px;
  background: #3a3636;
  width: 150px;
  height: 94px;
  border-radius: 12px;
  margin: 8px;
}

.number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.n-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.banner-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.book {
  padding: 15px 24px;
  border: none;
  width: 137px;
  height: 48px;
  color: white;
  background: #ff736a;
  border-radius: 80px;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.hd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  text-align: left;

  letter-spacing: -0.01em;
}

.left {
  display: flex;
}

.footer {
  background-color: #001f27;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}

.f-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
/* .f-1 {
  width: 255px;
  height: 282px;
}

.f-2 {
  width: 255px;
  height: 198px;
}

.f-3 {
  width: 255px;
  height: 186px;
} */

.bolding {
  font-weight: 500;
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: space-around !important;
  gap: 30px;
}

.img-1 {
  width: 330px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  border-radius: 20px;
  letter-spacing: -0.01em;

  color: #00d2ff;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: url(C:\React-Clappingo\frontend\src\images\img-1.png);
}

.img-2 {
  width: 330px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.01em;

  color: #00d2ff;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: url(C:\React-Clappingo\frontend\src\images\img-2.png);
}

.img-3 {
  width: 330px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  border-radius: 20px;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.01em;

  color: #00d2ff;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: url(C:\React-Clappingo\frontend\src\images\img-3.png);
}

.offer-text {
  width: 334px;
  height: 63px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */

  letter-spacing: -0.01em;
  font-feature-settings: "liga" off;

  color: #ffffff;
}

.blur {
  width: 310px;
  padding: 10px;
  height: 94px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 34px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) -14.34%,
    #c4c4c4 116.43%
  );
  backdrop-filter: blur(32.5px);
}

.blur-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #00cdac;
  width: 36vw;
  height: 68vh;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.input {
  width: 70%;
  height: 8%;
  border-radius: 8px;
  border-style: none;
}

.sign {
  width: 20%;
  height: 10%;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  background-color: #001f27;
  color: #ffffff;
}

.sign:hover {
  background-color: white;
  color: #001f27;
}
